/* Write your code here. */

.bg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: roboto;
}

.information-msg{
    background-color: #0b69ff;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.success-msg{
    background-color: #2dca73;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.warning-msg{
    background-color: #ffb800;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.error-msg{
    background-color: #ff0b37;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}